################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/Dev.IO.App/obj
/src/DevIO.Business/obj
/src/DevIO.Data/obj
/src/DevIO.Data/bin/Debug/netcoreapp3.1
/obj
/bin/Debug
/src/Dev.IO.App/bin
/src/DevIO.Business/bin
/src/DevIO.Data/bin/Release/netcoreapp3.1
/src/Dev.IO.App/wwwroot/imagens
