################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/Dev.IO.App/obj
/src/DevIO.Business/obj
/src/DevIO.Data/obj
